<div class="section section-gray">
	<div class="container">
		<div class="title-area">
			<h5 class="subtitle text-gray">Don't miss our</h5>
			<h2>Most Recommended Stories</h2>
			<div class="separator separator-danger">✻</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-blog">
					<a href="#gaia" class="header">
						<img src="img/header-3.jpeg" class="image-header">
					</a>
					<div class="content">
						<h6 class="card-date">Jul 27</h6>
						<a href="#gaia" class="card-title">
							<h3>How to Make the Perfect Statues</h3>
						</a>
						<div class="line-divider line-danger"></div>
						<h6 class="card-category">Food & Drink</h6>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="card card-blog">
					<a href="#gaia" class="header">
						<img src="img/header-6.jpeg" class="image-header">
					</a>
					<div class="content">
						<h6 class="card-date">Feb 17</h6>
						<a href="#gaia" class="card-title">
							<h3>Nature & The Catch of the Day</h3>
						</a>
						<div class="line-divider line-danger"></div>
						<h6 class="card-category">Nature</h6>
					</div>
				</div>
				<div class="card card-blog">
					<a href="#gaia" class="header">
						<img src="img/header-4.jpeg" class="image-header">
					</a>
					<div class="content">
						<h6 class="card-date">Mar 27</h6>
						<a href="#gaia" class="card-title">
							<h3>Breathing in the Crisp Air of Lake Lucerne</h3>
						</a>
						<div class="line-divider line-danger"></div>
						<h6 class="card-category">Business & Travel</h6>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="card card-blog">
					<div class="content">
						<h2><i class="fa fa-twitter"></i></h2>
						
						<a href="#gaia" class="card-title">
							<h3>"Breathing in the Crisp Air of Lake Lucerne"</h3>
						</a>
						<div class="line-divider line-danger"></div>
						<h6 class="card-category">Social Media</h6>
					</div>
				</div>
				<div class="card card-blog">
					<a href="#gaia" class="header">
						<img src="img/header-2.jpeg" class="image-header">
					</a>
					<div class="content">
						<h6 class="card-date">Feb 17</h6>
						<a href="#gaia" class="card-title">
							<h3>17 Best Nature Images</h3>
						</a>
						<div class="line-divider line-danger"></div>
						<h6 class="card-category">Images</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>