<div class="section section-faq">
	<div class="container">
		<div class="header-faq text-center">
			<h2>Frequently asked questions</h2>
			<div class="separator separator-danger">✻</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="box">
					<h3 class="title-description">How long are your contracts</h3>
					<p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
				</div>
				<div class="box">
					<h3 class="title-description">How do i sign up?</h3>
					<p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="box">
					<h3 class="title-description">What is meant by unlimited</h3>
					<p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
				</div>
				<div class="box">
					<h3 class="title-description">Is there a discount for yearly service?</h3>
					<p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
				</div>
			</div>
		</div>
	</div>
</div>