<div class="section section-header">
	<div class="parallax filter filter-color-black">
		<div class="image" style="background-image: url('https://images.unsplash.com/photo-1449247613801-ab06418e2861?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb80a15068b7e5da425b33750319daaa')">
		</div>
		<div class="container">
			<div class="content">
				<p><span>by </span>Creative Tim</p>
				<h1>Home Page</h1>
				<div class="separator-container">
					<div class="separator line-separator">♦</div>
				</div>
				<h5>Present your company, clients and projects in a stylish way</h5>
			</div>
		</div>
	</div>
	<a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
		<i class="fa fa-angle-down"></i>
	</a>
</div>