<div class="section section-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="info-pricing">
					<div class="icon text-danger">
						<i class="pe-7s-piggy icons-info"></i>
					</div>
					<div class="text">
						<h3 class="title-info">Design</h3>
						<p class="text-description text-gray">We sketch your wardrobe down to the last detail and present it to you.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info-pricing">
					<div class="icon text-danger">
						<i class="pe-7s-scissors icons-info"></i>
					</div>
					<div class="text">
						<h3 class="title-info">Branding</h3>
						<p class="text-description text-gray">We make our design perfect for you. Our adjustment turn our clothes into your clothes.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info-pricing">
					<div class="icon text-danger">
						<i class="pe-7s-plugin icons-info"></i>
					</div>
					<div class="text">
						<h3 class="title-info">Marketing</h3>
						<p class="text-description text-gray">We create a persona regarding the multiple wardrobe accessories that we provide..</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>