<div class="section section-numbers" >
	<div class="container">
		<div class="title-area">
			<h2>Our activity in numbers</h2>
			<div class="separator separator-danger">✻</div>
			<p class="description">For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  We love food, lots of different food, just like you.</p>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<div class="card card-plain">
					<div class="icon">
						<i class="pe-7s-users"></i>
					</div>
					<h3>Customers</h3>
					<h5 class="text-gray">Enterprises and small businesses</h5>
					<div class="number text-danger">
						42
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-plain">
					<div class="icon">
						<i class="pe-7s-box1"></i>
					</div>
					<h3>Projects</h3>
					<h5 class="text-gray">Design, Strategy and Marketing</h5>
					<div class="number text-danger">
						247
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-plain">
					<div class="icon">
						<i class="pe-7s-global"></i>
					</div>
					<h3>Cities</h3>
					<h5 class="text-gray">Where you can find to us</h5>
					<div class="number text-danger">
						27
					</div>
				</div>
			</div>
		</div>
	</div>
</div>