<div class="section section-cards section-gray">
	<div class="title-area">
		<h2>Included Examples</h2>
		<div class="separator separator-danger">♦</div>
		<p class="description">Paper Kit Pro comes with a large number of example pages, that give you to option to quickly setup the basic flows for your application. From registering to building your profile or setting a blog, we've got you covered.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-center">About Us</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/about-us.html" class="header">
						<img src="img/about-us-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				<br />
				<h3 class="text-center">Portfolio Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/portfolio.html" class="header">
						<img src="img/portfolio-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				
				<br />
				<h3 class="text-center">Pricing Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/pricing.html" class="header">
						<img src="img/pricing-long.jpg" class="image-header image-full"/>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Blog Post Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/blog-post.html" class="header">
						<img src="img/blog-post-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				
				<br />
				<h3 class="text-center">Home Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/home.html" class="header">
						<img src="img/home-long.jpg" class="image-header image-full"/>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Blog Posts Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/blog-posts.html" class="header">
						<img src="img/blog-posts-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				
				<br />
				<h3 class="text-center">Signin Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/signin.html" class="header">
						<img src="img/sigin-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				
				<br />
				<h3 class="text-center">Signup Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/signup.html" class="header">
						<img src="img/signup-long.jpg" class="image-header image-full"/>
					</a>
				</div>
				
				<br />
				<h3 class="text-center">Contact Us Page</h3>
				<div class="card card-blog">
					<a target="_blank" href="examples/contact-us.html" class="header">
						<img src="img/contact-us-long.jpg" class="image-header image-full"/>
					</a>
				</div>
			
			</div>
		</div>
	</div>
</div>