<div class="section section-info section-info-presentation">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="info-pricing">
					<div class="icon">
						<i class="pe-7s-exapnd2 icons-info text-danger"></i>
					</div>
					<div class="text">
						<h3 class="title-info">Fully Responsive Layout</h3>
						<p class="text-description text-gray">The kit is designed to be mobile first. Every component and Example Page looks great on any screen size.</p>
					</div>
				</div>
				<div class="info-pricing">
					<div class="icon">
						<i class="pe-7s-tools icons-info text-danger"></i>
					</div>
					<div class="text">
						<h3 class="title-info">HTML5 Powered by Bootstrap</h3>
						<p class="text-description text-gray"><b>Gaia - Bootstrap Template</b> is built on top of Bootstrap. Get the benefits of the most powerful framework and the perks of amazing new design.</p>
					</div>
				</div>
				<div class="info-pricing">
					<div class="icon">
						<i class="pe-7s-photo icons-info text-danger"></i>
					</div>
					<div class="text">
						<h3 class="title-info">Built with sections</h3>
						<p class="text-description text-gray">Want to prototype very fast? <b>Gaia Bootstrap Template</b> is made with sections that can be integrated very easy and look perfect together.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="image-container">
					<img src="img/iPad-hands.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>