<div class="section section-our-projects section-our-projects-fluid">
	
	<div class="title-area">
		<h5 class="subtitle text-gray">Here you can check</h5>
		<h2>Our Projects</h2>
		<div class="separator separator-danger">♦</div>
		<p class="description">
			Utah has eliminated homelessness by 91% It wasn’t any Kanyes I even had the pink polo I thought I was Kanye They think we're stupid. They do not know how to communicate.
		</p>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-1.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Website Redesign</label>
							<h3>Famous Website Redesign</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-5.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-success label-fill">Desktop Development</label>
							<h3>Desktop App</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-6.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Marketing</label>
							<h3>Social Marketing</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-4.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Website Redesign</label>
							<h3>Behance Redesign</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-3.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-info label-fill">App Development</label>
							<h3>Analytics App Android</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="project">
					<img src="img/project-2.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Marketing</label>
							<h3>Social Marketing</h3>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanye.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>