<div class="section section-our-projects">
	
	<div class="title-area">
		<h5 class="subtitle text-gray">Here you can check</h5>
		<h2>Our Projects</h2>
		<div class="separator separator-danger">♦</div>
		<p class="description">
			Utah has eliminated homelessness by 91% It wasn’t any Kanyes I even had the pink polo I thought I was Kanye They think we're stupid. They do not know how to communicate.
		</p>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="project">
					<img src="img/project-1.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Website Redesign</label>
							<h2>Famous Website Redesign</h2>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="project">
					<img src="img/project-6.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Marketing</label>
							<h2>Social Marketing</h2>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="project">
					<img src="img/project-4.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-danger label-fill">Website Redesign</label>
							<h2>Behance Redesign</h2>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="project">
					<img src="img/project-3.jpg" />
					<a class="over-area" href="#gaia">
						<div class="content">
							<label class="label label-info label-fill">App Development</label>
							<h2>Analytics App Android</h2>
							<p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
						</div>
					</a>
				</div>
			</div>
		
		</div>
	</div>
</div>