<div class="section" id="firstSection">
	<div class="container">
		<div class="title-area">
			<h2>Our company will take your startup to the next level for sure!</h2>
			<div class="separator separator-danger">♦</div>
			<p class="description">
				Our company is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!
			</p>
		</div>
	</div>
</div>