<div class="section section-we-do-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="info-icon">
					<div class="icon">
						<i class="pe-7s-keypad text-danger"></i>
					</div>
					<h3>Customizable Components</h3>
					<p class="description">Cards, Blogs, Info Areas, Sections etc. The templates comes with a large number of components.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="info-icon">
					<div class="icon">
						<i class="pe-7s-albums text-danger"></i>
					</div>
					<h3>Beautiful Examples</h3>
					<p class="description">Speed up your development time or get inspired with the large number of example pages.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="info-icon">
					<div class="icon">
						<i class="pe-7s-vector text-danger"></i>
					</div>
					<h3>Font Icons</h3>
					<p class="description">The templates comes packed with vector font icons to help you stand out from the crowd.</p>
				</div>
			</div>
		</div>
	</div>
</div>