<div class="section">
	<div class="text-area">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="title-area">
						<h5 class="subtitle text-gray">Est. 2013</h5>
						<h2>Who we are section</h2>
						<div class="separator separator-danger">✻</div>
					</div>
				</div>
				<div class="col-md-7 col-md-offset-1">
					<div class="description">
						<p>That dreams will actualize. Dreams will manifest. I stand with the utmost humility. We are so blessed! All praises and blessings to the families of people who never gave up on dreams I speak truth to power!</p>
						<p>We can't wait to work with you because you will love to work with us.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="text-center">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<div class="card card-plain">
								<img alt="..." src="img/office-1.jpeg" />
							</div>
							<div class="card card-plain">
								<img alt="..." src="img/office-3.jpeg" />
							</div>
						</div>
						<div class="col-md-5">
							<div class="card card-plain">
								<img alt="..." src="img/project-5.jpg" />
							</div>
							<div class="card card-plain">
								<img alt="..." src="img/office-4.jpeg" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>