<div class="wrapper">
    <div class="section section-contact-form">
        <div class="container">
                <div class="title-area">
                    <h5 class="subtitle text-gray">Glad to Talk With You</h5>
                    <h2>Contact Us</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">In this area you can write some interesting description about the projects that your team created. Don't forget to add some awesome images under this description, like the beautiful ones that we added.</p>
                </div>

            <div class="social-buttons">
                <button class="btn btn-social btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button class="btn btn-social btn-simple"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-social btn-simple"><i class="fa fa-instagram"></i></button>
                <button class="btn btn-social btn-simple"><i class="fa fa-google" ></i></button>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="contact-form">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your Full Name</label>
                                        <input type="text" name="name" value="" placeholder="Michael Jordan" class="form-control form-control-plain">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="text" name="email" value="" placeholder="michael.j@gmail.com" class="form-control form-control-plain">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" name="subject" value="" placeholder="Say hi to you" class="form-control form-control-plain">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="content" class="form-control form-control-plain" placeholder="Here you can write your nice text" rows="8"></textarea>
                                    </div>
                                    <div>
                                        <div class="col-md-2 col-md-offset-5">
                                            <button type="button" class="btn btn-danger btn-fill">
                                                Contact Us
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us">
        <div class="contact-container">
            <div class="address-container ">
                <div class="address">
                    <h4>Where to meet ?</h4>
                    <p class="text-gray">
                        2578 Paris<br>
                        Rue Abel, 12<br>
                        France
                    </p>
                    <h4>Phone</h4>
                    <p class="text-gray">0456 / 71 21 39</p>
                    <h4>By the old way</h4>
                    <a href="mailto:hello@creative-tim.com">
                        <p class="text-gray">hello@creativetim.com</p>
                    </a>
                </div>
            </div>
            <div class="map">
                <div data-lat="44.433530" data-lng="26.093928" class="google-map big-map"></div>
            </div>
        </div>
    </div>
</div>

