<div class="section section-pricing">
    <div class="parallax filter filter-color-black">
        <div class="image" style="
            background-image: url('img/header-7.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h2>Pricing Section</h2>
                    <div class="separator line-separator">✻</div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-sm-4">
                            <div class="card card-price">
                                <div class="content">
                                    <h4 class="title-header">
                                        free trial
                                        <br>
                                        <small class="subtitle-header">month</small>
                                    </h4>
                                    <div class="price">
                                        <i class="fa fa-dollar"></i>
                                        <div class="number text-danger">0</div>
                                    </div>
                                    <p class="text-description">
                                        15 Messages<br>
                                        5 Contacts<br>
                                        <span>12/5 Support</span>
                                    </p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger btn-round btn-fill">
                                            Get Started
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-price card-white">
                                <div class="content">
                                    <h4 class="title-header title-gold">
                                        pro
                                        <br>
                                        <small class="subtitle-header subtitle-black">month</small>
                                    </h4>
                                    <div class="price">
                                        <i class="fa fa-dollar icon-black"></i>
                                        <div class="number text-danger">199</div>
                                    </div>
                                    <p class="text-description">
                                        300 Messages<br>
                                        150 Contacts<br>
                                        <span class="text-gold">24/7 Support</span>
                                    </p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger btn-round btn-fill">
                                            get started
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-price card-black">
                                <div class="content">
                                    <h4 class="title-header text-danger">
                                        unlimited
                                        <br>
                                        <small class="subtitle-header subtitle-white">month</small>
                                    </h4>
                                    <div class="price">
                                        <i class="fa fa-dollar"></i>
                                        <div class="number text-danger">299</div>
                                    </div>
                                    <p class="text-description">
                                        300 Messages<br>
                                        150 Contacts<br>
                                        <span class="text-danger">24/7 Support</span>
                                    </p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger btn-round btn-fill">
                                            get started
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="info-pricing">
                    <div class="icon text-danger">
                        <i class="pe-7s-piggy icons-info"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">Design</h3>
                        <p class="text-description text-gray">We sketch your wardrobe down to the last detail and present it to you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-pricing">
                    <div class="icon text-danger">
                        <i class="pe-7s-scissors icons-info"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">Branding</h3>
                        <p class="text-description text-gray">We make our design perfect for you. Our adjustment turn our clothes into your clothes.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-pricing">
                    <div class="icon text-danger">
                        <i class="pe-7s-plugin icons-info"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">Marketing</h3>
                        <p class="text-description text-gray">We create a persona regarding the multiple wardrobe accessories that we provide..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-faq">
    <div class="container">
        <div class="header-faq text-center">
            <h2>Frequently asked questions</h2>
            <div class="separator separator-danger">✻</div>
         </div>
         <div class="row">
            <div class="col-sm-6">
                <div class="box">
                    <h3 class="title-description">How long are your contracts</h3>
                    <p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
                </div>
                <div class="box">
                    <h3 class="title-description">How do i sign up?</h3>
                    <p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h3 class="title-description">What is meant by unlimited</h3>
                     <p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
                </div>
                <div class="box">
                    <h3 class="title-description">Is there a discount for yearly service?</h3>
                    <p class="text-description text-gray">There are many variations of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are anything embarassing hidden in the middle of text.</p>
                </div>
            </div>
        </div>
    </div>
</div>