extends base
block navbar
    include navbars/navbar.html
block content
    include sections/header-full.html
    include sections/text.html
    include sections/team2.html
    include sections/projects-fluid.html
    include sections/testimonials.html
    include sections/get-started.html
    include sections/portfolio.html

block footer
    include footers/footer.html